.AboutThisRecept {
    width: 1920px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AboutThisRecept-Category {}

.AboutThisRecept-Vendor {
    width: 1630px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.AboutThisRecept-Vendor_SecondDiv {
    display: flex;
    height: 24px;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.AboutThisRecept-DataInfo {
    width: 1630px;
    margin: 75px 0 0 0;
    display: flex;
    justify-content: flex-start;
}

.AbooutThisRecept-Ingredients {
    width: 1630px;
    margin: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.AboutThisRecept-IngredientsImage {
    border-radius: 20px;
    width: 60%;
    min-width: 40%;
}

.AboutThisRecept-IngredientsInfo {
    width: 40%;
    min-width: 400px;
    margin: 0 0 0 165px;
    border-radius: 20px;
    background: #B1D1EA;
    padding: 25px 47px 61px 48px;
}

.AboutThisRecept-IngredientsInfo h1 {
    text-align: center;
    color: #183851;
    font-family: Alegreya;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AboutThisRecept-IngredientsInfo>div>div {
    display: flex;
    justify-content: space-between;
    color: #183851;
    font-family: Alegreya;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AboutThisRecept-IngredientsInfo_Btns {
    display: flex;
    justify-content: center;
}

.AboutThisRecept-IngredientsInfo_Btns h1 {
    padding: 10px 31px 14px 31px;
    border-radius: 10px;
    background: #FFF;
    color: #000;
    font-family: Alegreya;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AboutThisRecept-IngredientsInfo_Btns button {
    width: 50px;
    height: 50px;
    color: #183851;
    font-size: 42px;
    transform: translateY(80%);
}

.AboutThisRecept-IngredientsInfo_p {
    text-align: center;
    color: #8CACC5;
    font-family: Alegreya;
    font-size: 20px;
    padding: 0;
    margin: -24px 0;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AboutThisRecept-Compound {
    display: flex;
    flex-direction: column;
    width: 900px;
}

.AboutThisRecept-Compound h1 {
    text-align: center;
    color: #183851;
    font-family: Alegreya;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.AboutThisRecept-Compound_Info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #183851;
    text-align: center;
    font-family: Alegreya;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AboutThisRecept-Instruction {
    margin: 111px 0 0 0;
}

.AboutThisRecept-Instruction h1 {
    padding: 0 0 25px 0;
    text-align: center;
    color: #183851;
    font-family: Alegreya;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AboutThisRecept-Instruction li {
    width: 990px;
    color: #183851;
    font-family: Alegreya;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 28px 0;
    padding: 0 20px;
}

.AboutThisRecept-Comment {
    margin: 115px 0 0 0;
}

.AboutThisRecept-Comment div {
    display: flex;
    flex-direction: column;
}

.AboutThisRecept-Comment h1 {
    margin: 0 0 45px 0;
}

.AboutThisRecept-CommentTextarea {
    padding: 23px 0 0 33px;
    border-radius: 10px;
    border: 1px solid #183851;
    width: 1530px;
    height: 240px;
    margin: 80px 0 45px 0;
    flex-shrink: 0;
    resize: none;
    font-family: Alegreya;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AboutThisRecept-CommentTextarea::-webkit-input-placeholder {
    color: #B1D1EA;
}

.AboutThisRecept-CommentButton {
    width: 250px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #183851;
    color: #FFF;
    font-family: Alegreya;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 auto 90px;
}

.AboutThisRecept-CommentShow h1 {
    color: #183851;
    font-family: Alegreya;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.AboutThisRecept-CommentShow_ThisComment {
    display: flex;
}

.AboutThisRecept-CommentShow_ThisCommentData {
    overflow: hidden;
}

.AboutThisRecept-CommentShow_ThisCommentData>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.AboutThisRecept-CommentShow_ThisCommentData_Man {
    height: 150px;
    flex-shrink: 0;
}

.AboutThisRecept-CommentShow_ThisCommentData_Man>img {
    height: 100px;
    flex-shrink: 0;
    border-radius: 150px;
    margin: 0 80px 0 0;
}

.AboutThisRecept-CommentShow_ThisCommentData_ManName {
    color: #183851;
    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AboutThisRecept-CommentShow_ThisCommentData_VerticalLine {
    background-color: #000;
    width: 1.26px;
    height: 30px;
    flex-shrink: 0;
    margin: 0 20px;
}

.AboutThisRecept-CommentShow_ThisCommentData_DataPublication {
    color: #183851;
    font-family: Alegreya;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AboutThisRecept-CommentShow_ThisCommentDataResult {
    color: #183851;
    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AboutThisRecept-CommentShow_ThisCommentData_HorizontalLine {
    background-color: #000;
    height: 1px;
    width: 100%;
    margin: 30px 0;
}

.AboutThisRecept-CommentShow_ThisCommentData_Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.AboutThisRecept-CommentShow_ThisCommentData_Buttons1 {
    width: 500px;
    flex-direction: row !important;
    justify-content: space-between;
    color: #8CACC5;
    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AboutThisRecept-CommentShow_ThisCommentData_Buttons2 {
    gap: 40px;
    flex-direction: row !important;
    justify-content: space-between;
    color: #8CACC5;
    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}