.AppMain {}

.AppMainData-Container {
    height: 3850px;
}

.AppMainData {
    top: 0;
    z-index: -1;
    width: 1920px;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
}

.AppMainData-Svg {
    display: flex;
    width: 100%;
    position: absolute;
    top: -95px;
    overflow: hidden;
}

.AppMainData-Svg:first-child {}

.AppMainData_Images {
    position: absolute;
    right: 0;
    top: 0;
    height: 404px;
    width: 344px;
    overflow: hidden;
}

.Vector {
    width: 427.633px;
    height: 621.447px;
    transform: rotate(175deg);
    flex-shrink: 0;
    position: absolute;
    right: -140px;
    top: -220px;
}

.AppMainData_ImagesOnTopRight {
    width: 304.035px;
    height: 384.035px;
    flex-shrink: 0;
    transform: rotate(0);
    position: absolute;
    right: 0;
    top: 0;
}

.AppMainData_Images>div {
    position: relative;
}

.AppMainData_Images2 {
    position: relative;
    top: 160px;
    left: 662px;
}

.Vector2 {
    position: absolute;
    width: 382.23px;
    height: 484.316px;
    left: 50px;
    top: 30px;
}

.AppMainData_ImagesOnCenter {
    position: absolute;
    width: 450px;
    height: 450px;
}

.AppMainData_Images3 {
    position: relative;
    top: 490px;
    left: 1390px;
}

.Vector3 {
    position: absolute;
    top: 30px;
    left: 2px;
    width: 361.528px;
    height: 560.378px;
}

.AppMainData_ImagesOnBottomRight {
    position: absolute;
    width: 530px;
    height: 630px;
}

.AppMainData_Mushrooms {}

.AppMainData_Mushrooms_1 {
    position: absolute;
    top: 555px;
    left: 560px;
}

.AppMainData_Mushrooms_2 {
    position: absolute;
    top: 380px;
    left: 1685px;
}

.AppMainData_Mushrooms_3 {
    position: absolute;
    top: 1043px;
    left: 1181px;
}

.AppMainData_MushroomsWhite_1 {
    position: absolute;
    left: 815px;
    top: 0;
}

.AppMainData_MushroomsWhite_2 {
    position: absolute;
    top: 225px;
    left: 45px;

}

.AppMainData_MushroomsWhite_3 {
    position: absolute;
    top: 750px;
    left: 1310px;
}

.AppMainData_Tomato {
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.AppMainData_Tomato_1 {
    position: absolute;
    top: 600px;
}

.AppMainData_Tomato_2 {
    position: absolute;
    top: 808px;
    left: 873px;

}

.AppMainData_TomatoWhite_1 {
    position: absolute;
    left: 360px;
    top: 0;
}

.AppMainData_TomatoWhite_2 {
    position: absolute;
    left: 1809px;
    top: 390px;
}





.AppMainData_Menu {
    display: flex;
    justify-content: center;
    width: 1920px;
    gap: 65px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    position: absolute;
    top: 1270px;
}

.AppMainData_Menu div {
    width: 200px;
    height: 200px;
    text-align: center;
}

.AppMainData_Menu img {
    width: 200px;
    height: 200px;
    margin: 50px 0;
}

.AppMainData_Menu p {
    color: #183851;

    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}





.AppMainData_Popular {
    position: absolute;
    top: 1770px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1920px;
    height: 155px;
}

.AppMainData_Popular_Header {
    display: flex;
    justify-content: space-between;
    width: 1630px;
}

.AppMainData_Popular_Header h1 {
    color: #183851;

    font-family: Alegreya;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.AppMainData_Popular_Main>h1 {
    color: #8CACC5;
    font-family: Alegreya;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: -35px 0 0 0;
}

.AppMainData_Popular_MainData {
    display: flex;
    width: 1630px;
    justify-content: space-between;
    margin: 280px 0 0 0;
}

.AppMainData_Popular_MainDataContainerOut {
    position: relative;
}

.AppMainData_Popular_MainDataContainer {
    width: 490px;
    height: 550px;
    border-radius: 80px;
    background: #8CACC5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AppMainData_Popular_MainDataContainer>img {
    width: 400px;
    height: 400px;
    margin: -200px 0 0 0;
}

.AppMainData_Popular_MainDataContainer>p {
    display: block;
    text-align: left;
    width: 276px;
}

.AppMainData_Popular_MainDataContainerBtn {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 32px;
    right: 64px;
}





.AppMainData_Review {
    position: relative;
    top: 2900px;
    padding: 0 145px;
}

.AppMainData_ReviewOutContainer {
    position: absolute;
    width: 1630px;
}

.AppMainData_ReviewOut {
    display: flex;
    justify-content: space-around;
    padding: 175px 0 0 0;
}

.AppMainData_ReviewOutContainer>h2 {
    color: #8CACC5;

    font-family: Alegreya;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AppMainData_ReviewOutContainer>h1 {
    width: 608px;
    color: #183851;

    font-family: Alegreya;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.AppMainData_ReviewIn_1 {
    width: 697.944px;
    height: 315.528px;
    transform: rotate(-9.181deg);
    border-radius: 50px;
    background: #8CACC5;
    padding: 25px 50px;
}

.AppMainData_ReviewIn_1>p {
    display: block;
    width: 464.326px;
    color: #183851;
    margin: -10px 0 0 0;

    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AppMainData_ReviewIn_1>div {
    display: flex;
    position: relative;
}

.AppMainData_ReviewIn_1>div>h1 {
    color: #FFF;

    font-family: Alegreya;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AppMainData_ReviewIn_1_img1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    transform: translateY(-50%);
    top: -40px;
    right: 35px;
}

.AppMainData_ReviewIn_1_img2 {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 160px;
    top: -45px;
    right: -25px;
}

.AppMainData_ReviewIn_2 {
    width: 697.944px;
    height: 315.528px;
    transform: rotate(7.105deg);
    border-radius: 50px;
    background: #B1D1EA;
    margin: -150px 0 0 0;
    padding: 25px 50px;
}

.AppMainData_ReviewIn_2>p {
    width: 494.326px;
    color: #183851;
    margin: -10px 0 0 0;

    font-family: Alegreya;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.AppMainData_ReviewIn_2>div>h1 {
    color: #FFF;

    font-family: Alegreya;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.AppMainData_ReviewIn_2_img1 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    transform: translateY(-50%);
    top: -20px;
    right: 95px;
}

.AppMainData_ReviewIn_2_img2 {
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 160px;
    top: -40px;
    right: 35px;
}